.wd-div1
{
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

.wd-divimage
{
    width: 100px;
    height:100px;
    padding:3px;
    border-radius:20px;
    margin-left: 25px;
}

.wd-heading1
{
    color: grey;
    font-size: small;
}

.wd-heading2
{
    font-size: small;
    font-weight: bold;

}

.wd-heading3
{
    font-size: small;
    font-weight: bold;

}
.wd-heading4
{
    font-size: small;
    color: grey;
}

.wd-content
{
    display: flex;
    flex-direction: column;
    padding-left:15px;
}

.wd-heading2
{
    padding-left:15px;

}

.wd-contentdiv
{
    padding-top:10px;
}

@media (max-width: 767px){

    .wd-divimage
    {
        margin-left:17px;
    }

}


@media (min-width: 768px)
and (max-width: 991px){

    .wd-divimage
    {
        margin-left:15px;
    }
}

@media (min-width: 992px)
and (max-width: 1199px){

    .wd-divimage
    {
        margin-left: 12px;

    }

}

@media (min-width: 1200px)
and (max-width: 1400px){

    .wd-divimage
    {
        margin-left: 15px;
    }
}

@media (min-width: 1401px )
{
    .wd-divimage
    {
        margin-left: 15px;
    }

}
