
.search
{
    margin-top: 20px;
    position: relative;
}

.search-input
{
    width: 40%;
    height: 20px;
    border-radius: 20px;
    padding-left: 70px;
}

.search-icon
{
    position: absolute;
    margin-left: 10px;
}